:root {
  /* --max-width: 1100px; */
  /* --border-radius: 12px; */
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */

  font-family: var(--font-inter), sans-serif;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  :root {
    --background-color: oklch(18.5%, 3.75%, 250);

    --text-primary-color: oklch(100% 10% 240 / 1);
    --text-secondary-color: oklch(90% 5% 240 / 1);
    --text-tertiary-color: oklch(90% 5% 240 / 1);
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  color: var(--text-secondary-color);

  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

main {
  /* padding-right: calc(100vw - 100%); */
  width: 100%;
  height: 100%;
}

.homeMain {
  background-color: transparent;
}

.bg-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;

  color: var(--text-primary-color);
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.075rem;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  opacity: 80%;
}

h4 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  opacity: 80%;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  opacity: 80%;
}

h6 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  opacity: 80%;
}
