.heroContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutContainer {
  position: absolute;
  right: 0;

  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;

  border-radius: 1rem;

  backdrop-filter: blur(50px);
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 0px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.aboutIntroContainer {
  padding-left: 1rem;
}

.aboutTechStackContainer {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 22rem;
  justify-content: flex-start;
}

.heroTitleText {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.heroIntroText {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.aboutExperienceContainer {
}
