@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-inter), sans-serif;
  --header-height: 3.5rem;

  --background-color: #ffffff;
  --foreground-color: #171717;

  --bp-xxs: 320px; /* smartphones, iPhone, portrait 480x320 phones */
  --bp-xs: 480px; /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  --bp-sm: 640px; /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  --bp-md: 768px; /* tablet, landscape iPad, lo-res laptops ands desktops */
  --bp-lg: 1024px; /* big landscape tablets, laptops, and desktops */
  --bp-xl: 1280px; /* hi-res laptops and desktops */
  --bp-xxl: 1536px; /* big hi-res laptops and desktops */
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }

  :root {
    --background-color: #0a0a0a;
    --foreground-color: #ededed;
  }
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;
  letter-spacing: 0.3px;

  color: var(--foreground-color);
  background: var(--background-color);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.bg-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
